bases
test.bases
test.tdr
result.dat
ch1.bases
ch1.tdr
ch2.bases
ch2.tdr
ch3.bases
ch3.tdr
ch4.bases
ch4.tdr
ch5.bases
ch5.tdr
ch6.bases
ch6.tdr
ch7.bases
ch7.tdr
ch8.bases
ch8.tdr
ch9.bases
ch9.tdr
jobstatus.dat
log_gg2g_01.02_08:13:58
log_gg2g_01.02_08:19:14
log_gg3g_01.02_09:18:05
log_gg3g_01.02_09:20:07
nohup.out
data/result_1.dat
data/result_2.dat
data/result_3.dat
